{% with name="Login" %}
    {% include "header.html" %}
{% endwith %}
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="card rounded-3 p-2 border-0">
        <img src="/static/logo.svg" alt="Uni Logo" class="card-img-top" style="
            transform: scale(0.7, 0.7);
            -ms-transform: scale(0.7, 0.7);
            -webkit-transform: scale(0.7, 0.7);"
        >
        <div class="card-body">
            <form name="login" class="form" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control border-2" id="username" name="username"
                           aria-describedby="username_help" required>
                    <a href="https://www.rz.uni-freiburg.de/services/uniaccount" id="username_help" class="form-text text-decoration-none text-muted">More Information
                    </a>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control border-2" id="password" name="password"
                            aria-describedby="password_help" required>
                    <a id="password_help" href="https://myaccount.uni-freiburg.de/uadmin/nopass" class="form-text text-decoration-none text-muted">Forgot Password</a>
                </div>
                {% if message %}
                    <p class="card-text mt-2 text-danger">{{ message }}</p>
                {% endif %}
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>
    </div>
</div>
{% include "footer.html" %}